extends layout

block content
  script(src='/javascripts/collector.js')
  h1= title

  button#btnEditDetails Edit Info
  button#btnEditTemplate Edit Template

  #collectorDetails
    p <strong>Description:</strong> This is the description
    p <strong>Status:</strong> Active

  #recordList
    table
      thead
      tbody
