extends layout

block content
  script(src='/javascripts/login.js')
  h1= title
  form#formLogin(name="login")
    input#inputEmail(type="text", placeholder="Email Address", name="email")
    input#inputPassword(type="password", placeholder="Password", name="password")
    button#btnLogin Login