extends layout

block content
  h1= Register
  form#formRegister(name="register",method="post",action="")
    input#inputEmail(type="text", placeholder="Email Address", name="email")
    input#inputPassword(type="password", placeholder="Password", name="password")
    button#btnRegister(type="submit") Register