extends layout

block content
  script(src='/javascripts/register.js')
  h1= title
  form#formRegister(name="register")
    input#inputEmail(type="text", placeholder="Email Address", name="email")
    input#inputPassword(type="password", placeholder="Password", name="password")
    button#btnRegister Register